{{ 'section-logo-bar.css' | asset_url | stylesheet_tag }}

{%- style -%}
  .section-{{ section.id }}-padding {
    padding-top: {{ section.settings.padding_top | times: 0.75 | round: 0 }}px;
    padding-bottom: {{ section.settings.padding_bottom | times: 0.75 | round: 0 }}px;
  }

  @media screen and (min-width: 750px) {
    .section-{{ section.id }}-padding {
      padding-top: {{ section.settings.padding_top }}px;
      padding-bottom: {{ section.settings.padding_bottom }}px;
    }
  }
{%- endstyle -%}

<div class="logo-bar logo-bar-{{ section.id }} color-{{ section.settings.color_scheme }} gradient">
  <div class="page-width section-{{ section.id }}-padding">
    <h2 class="logo-bar__heading {{ section.settings.heading_size }}{% if settings.animations_reveal_on_scroll %} scroll-trigger animate--slide-in{% endif %}">
      {{ section.settings.heading }}
    </h2>

    <div class="logo-bar__grid{% if settings.animations_reveal_on_scroll %} scroll-trigger animate--slide-in{% endif %}">
      <div class="logo-bar__logo">
        <img src="{{ 'Atlassian_logo_brand_RGB_2x_1d586625-ee45-4cd1-9bdb-44a04c600054.png' | file_url }}" alt="Atlassian" width="150" loading="lazy">
      </div>
      <div class="logo-bar__logo">
        <img src="{{ 'Adobe_Corporate_logo.png' | file_url }}" alt="Adobe" width="150" loading="lazy">
      </div>
      <div class="logo-bar__logo">
        <img src="{{ 'hyperbots.png' | file_url }}" alt="Hyperbots" width="150" loading="lazy">
      </div>
      <div class="logo-bar__logo">
        <img src="{{ 'unilever.png' | file_url }}" alt="Unilever" width="150" loading="lazy">
      </div>
      <div class="logo-bar__logo">
        <img src="{{ 'dashverse.png' | file_url }}" alt="Dashverse" width="150" loading="lazy">
      </div>
    </div>
  </div>
</div>

{% schema %}
{
  "name": "Logo Bar (Shared)",
  "tag": "section",
  "class": "section",
  "disabled_on": {
    "groups": ["header", "footer"]
  },
  "settings": [
    {
      "type": "text",
      "id": "heading",
      "default": "Trusted by teams at",
      "label": "Heading"
    },
    {
      "type": "select",
      "id": "heading_size",
      "options": [
        { "value": "h3", "label": "Small" },
        { "value": "h2", "label": "Medium" },
        { "value": "h1", "label": "Large" }
      ],
      "default": "h1",
      "label": "Heading size"
    },
    {
      "type": "color_scheme",
      "id": "color_scheme",
      "label": "Color scheme",
      "default": "scheme-1"
    },
    {
      "type": "range",
      "id": "padding_top",
      "min": 0,
      "max": 100,
      "step": 4,
      "unit": "px",
      "label": "Top padding",
      "default": 40
    },
    {
      "type": "range",
      "id": "padding_bottom",
      "min": 0,
      "max": 100,
      "step": 4,
      "unit": "px",
      "label": "Bottom padding",
      "default": 40
    }
  ],
  "presets": [
    {
      "name": "Logo Bar (Shared)"
    }
  ]
}
{% endschema %}
